{% extends "layout.html" %}

{% set serviceName %}
  Teaching Jobs
{% endset%}

{% block pageTitle %}
  Teaching Jobs Prototypes
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Teaching Jobs
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/start-page">Start page</a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
